body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#character-expansion-panel-details {
  display: flex;
  justify-content: space-between;
}

.bolded {
  font-weight: bold;
}

.chart {
  width: 99%;
  margin: 0 auto;
  background-color: lightgray;
}

.margin-10-indent {
  margin: 0 10%;
}
.margin-5-indent {
  margin: 0 5%;
}

.gray-bg {
  width: 99%;
  background-color: lightgray;
}

#character-gradient {
  background-image: linear-gradient(lightblue, fuchsia);
}
